doctype html
include ../partials/mixins.pug 
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Your Page Title
    +resources("addCoupons")
  body
    header#header
      #nav-icon3.menu-button
        span
        span
        span
        span
      #top-bar.d-flex
        h3.display-5 #{name}
        ul.list-unstyled
          li.nav-item
            form.search-bar.mt-3#searchBar(name="searchBar")
              input#adminSearch.form-control(type='text' placeholder='Enter keywords' name="seachInput")
              a(href='javascript:void();')
                i.icon-magnifier
    nav#sidemenu
    nav#sidemenu
      .main-menu
        ul.main-menu
          li.link-active
            a.ms-2.mt-2.icon(href='/admin')
              i.bi.bi-house-door.fs-4.ms-2
              span.ms-4 Home
          li.link-active
            a.ms-2.icon#productList(href="/admin/products")
              i.bi.bi-bag.fs-4.ms-2
              span.ms-4 Products
          li.link-active
            a.ms-2.mt-2.icon#userList(href="/admin/users")
              i.bi.bi-people.fs-4.ms-2
              span.ms-4 Customers
          li.link-active
            a.ms-2.mt-2.icon#categoryList(href='/admin/category')
              i.bi.bi-grid.fs-4.ms-2
              span.ms-4 Categories
          li.link-active
            a.ms-2.mt-2.icon#orderList(href='/admin/orders')
              i.bi.bi-truck.fs-4.ms-2
              span.ms-4 Orders
          li.link-active#transactionList
            a.ms-2.mt-2.icon(href='/admin/transactions')
              i.bi.bi-coin.fs-4.ms-2
              span.ms-4 Transactions
          li.link-active
            a.ms-2.mt-2.icon(href='#')
              i.bi.bi-image-fill.fs-4.ms-2
              span.ms-4 Banner
          li.link-active#offerList
            a.ms-2.mt-2.icon(href='/admin/offers')
              i.bi.bi-percent.fs-4.ms-2
              span.ms-4 Offers
          li.link-active#couponList
            a.ms-2.mt-2.icon.d-flex(href='/admin/coupons')
              i.bi.bi-tag.fs-4.ms-2
              span.ms-4 Coupons
          li.link-active#salesList
            a.ms-2.mt-2.icon(href='/admin/sales-report')
              i.bi.bi-file-earmark-bar-graph.fs-4.ms-2
              span.ms-4 Sales Report
        ul.main-menu.bottom
          li
            a.ms-2.mt-2.icon(href="javascript:history.back()")
              i.bi.bi-arrow-left.fs-4.ms-2
              span.ms-4 Back
          li
            a.ms-2.mt-2.icon(href='/')
              i.bi.bi-house.fs-4.ms-2
              span.ms-4 Home
          li
            a.ms-2.mt-2.icon#navLogout(href='/auth/logout')
              i.bi.bi-box-arrow-right.fs-4.ms-2
              span.ms-4 Logout
      
    .container-fluid.form-container#form-container
      h1.text-center.mb-4 Create New Coupon
      form#couponForm
        .mb-3
          label.form-label(for='code') Coupon Code
          input#code.form-control(type='text', name='code' )
          div#codeError.text-danger 
        .mb-3
          label.form-label(for='discount') Discount (%)
          input#discount.form-control(type='text', name='discount' )
          div#discountError.text-danger 
        .mb-3
          label.form-label(for='limit') Usage Limit
          input#limit.form-control(type='text', name='limit')
          div#limitError.text-danger 
        .mb-3
          label.form-label(for='expiry') Expiry Date
          input#expiry.form-control(type='date', name='expiry')
          div#expiryError.text-danger 
        .mb-3
          label.form-label(for='minAmt') Minimum Amount
          input#minAmt.form-control(type='text', name='minAmt')
          div#minAmtError.text-danger 
        .mb-3
          label.form-label(for='maxAmt') Maximum Amount
          input#maxAmt.form-control(type='text', name='maxAmt')
          div#maxAmtError.text-danger 
        .mb-3
          button.btn.btn-primary(type='submit') Create Coupon
      //- Bootstrap JS (optional if you need JavaScript features from Bootstrap)
