doctype html
include ../partials/mixins.pug 
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Your Page Title
    +resources("createOffer")
    .container-fluid.form-container#form-container
      h1.text-center.mb-4 Create New Offer
      form#couponForm
        .mb-3
          label.form-label(for='name') Offer Name
          input#name.form-control(type='text', name='name' )
          div#codeError.text-danger 
        .mb-3
          label.form-label(for='description') Description
          input#description.form-control(type='text', name='description' )
          div#descriptionError.text-danger 
        .mb-3
          label.form-label(for='discountPercentage') Discount Percentage
          input#discountPercentage.form-control(type='text', name='discountPercentage')
          div#discountPercentageError.text-danger 
        .mb-3
          label.form-label(for='startDate') Start Date
          input#startDate.form-control(type='date', name='startDate')
          div#startDateError.text-danger 
        .mb-3
          label.form-label(for='endDate') End Date
          input#endDate.form-control(type='date', name='endDate')
          div#endDateError.text-danger 
        .mb-3
          label.form-label(for='maxAmt') Maximum Amount
          input#maxAmt.form-control(type='text', name='maxAmt')
          div#maxAmtError.text-danger 
        .mb-3
          label.form-label(for='minAmt') Minimum Amount
          input#minAmt.form-control(type='text', name='minAmt')
          div#minAmtError.text-danger 
        .mb-3
          button.btn.btn-primary(type='submit') Create Offer
      //- Bootstrap JS (optional if you need JavaScript features from Bootstrap)
