doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel="stylesheet", href="/stylesheet/errors.css")

  body
    h1 401
    p Sorry, you do not have permission to access this resource. Please log in with valid credentials.

    a.button(href='/auth/login')
      i.icon-home
      |  Go back to Login...  
