body {
  background-color: #081c15;
  /* background-color: #237b5c; */
    color: #ffffff;
    font-family: Arial, sans-serif;
}
#slider {
  width: 100%;
  height: auto;
  position: relative;
}

#slider img {
  width: 100%;
  height: auto;
  position: relative;
}
#slider img:first-child {
  z-index: 1;
}

#slider img:nth-child(2) {
  z-index: 0;
}

#navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

.two {
  margin-left: 8rem;
}

.card-button {
  color: #010a07;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    110deg,
    rgba(0, 128, 255, 0.99) 21.02%,
    rgba(0, 64, 128, 0.9) 73.51%
  );
  width: 371.562px;
  height: 49.969px;
  border-radius: 34.59px;
}
.card-button:hover {
  background: linear-gradient(
    200deg,
    rgba(0, 128, 255, 0.99) 21.02%,
    rgba(0, 64, 128, 0.9) 73.51%
  );
}
#productCard:hover .card-button {
  /* bottom: 10px; */
}
#productCard {
  width: 410px;
  height: 652.094px;
  border-radius: 30.75px;
  opacity: 0.71;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(155deg, #266958 3.82%, rgba(34, 44, 41, 0.2) 76.99%);
  transition: transform 0.5s ease;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}
#productCard:hover {
  z-index: 3;
  box-shadow: 0 0 20px rgb(10, 161, 42);
  transform: translateY(-10px);
}
#productCard:hover .card-image {
  transform: scale(1.1) scaleZ(1.2);
}
.card-image:hover {
  z-index: 3 !important;
  transform: translateY(-10px);
}
.author {
    font-style: italic;
    color: #FFF;
    margin-bottom: 10px;
}

.two {
  margin-left: 0;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .two {
    margin-left: 8rem;
  }
}
