#navbar {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 21.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 150% */
  z-index: 2;
}

#navbar-list li {
  list-style-type: none;
  text-decoration: none;
}

.one {
  display: flex;
  align-items: center;
  width: 100%;
  height: 208px;
  flex-shrink: 0;
  background-color: #081c15;
}

.iconCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
}

nav form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  border-radius: 40px;
  background: #b7b7b7;
}

#search-input {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

#search-input::placeholder {
  color: #2a2828;
}

#search-btn {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

#search-btn:hover {
  opacity: 1;
}

#navbar .dropdown-menu {
  background-color: #081c15;
  width: 65vw;
  padding: 7vh 2rem 2rem 2rem;
  border-radius: 40px;
  margin-top: 6vh !important;
}

#shop-dropdown .dropdown-toggle {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-menu .d-flex {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 25px;
}

.dropD {
  display: flex;
  justify-content: center;
}

.dropD li {
  margin-left: 2rem;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.dropdownUl {
  margin-top: auto;
}

.dropdownUl li {
  margin-left: 6%;
}
