include ../../partials/navbar
block rest
  link(rel="stylesheet", href="../../stylesheet/user/signUpForm.css")
  .mainC.d-flex
    .imgDiv
      img(src="/imgs/pic.png", alt="", srcset="")
    .signup-form-container.text-white
      h2.signUp-Head Reset Password
        style.
          .signUpForm label{
            margin-top:1%;
          }

      form.signUpForm#passwordForm.px-5()
        span Enter your New Password
        label(for="password") New Password *
        input#password.form-input(type="password", name="password", oninput='validateNewPassword()', placeholder="Enter The new Password..")
        span#passwordError
        span.text-danger.ms-3#errorMessage
        label(for="confirmPassword") Confirm Password *
        input#confirmPassword.form-input(type="password", name="confirmPassword", oninput='validateNewConfirmPassword()', placeholder="ReEnter the new password")
        span#confirmPasswordError
        span.text-danger.ms-3#errorMessage
        button#newFormButton( ) Continue
   

      script(src="../../script/user/resetPassword.js")

    
      