include ../partials/navbar
title Edit Profile
link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')
link(rel='stylesheet', href='../../../stylesheet/navbar.css')
link(rel='stylesheet', href='../../../stylesheet/user/profile.css')
script(defer src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src="https://cdn.jsdelivr.net/npm/cropperjs@1.6.1/dist/cropper.min.js")

.container
  h1.page-title Edit Profile

  .account-layout
    .account-menu
      ul
        li: a(href='/user/profile') My Account
        li: a(href='/user/wishlist') My Wishlist
        li: a(href='/user/address/new') Address Book
        li: a(href='/user/order') My Orders
        li: a(href='/user/wallet') My Wallet

    .main-content
      .profile-section
        form.editInfo-form(action='#', method='post', enctype='multipart/form-data')
          .profile-picture
            if user.avatar
              img#avatar(src=user.avatar, alt="User Avatar")
            img#imgView1(src='', alt="" style='display:none;')
            input#input1.form-data(style='display: none;', type='file', name='image', accept='image/png, image/jpeg, image/jpg')
            label.btn.btn-primary#upload(for='input1')
              i.fa-solid.fa-upload
              |  Upload
          .image-cropper.mb-3(style='display:none; width: 200px;')
            img#croppedImg1(src='', alt='')
            button#saveButton1.btn.btn-warning(type='button') Save

          .form-group
            label(for='name') Name:
            input#name(type='text', name='name', value=user.name)

          .form-group
            label(for='email') Email:
            input#email(type='email', name='email', value=user.email)

          .form-group.d-flex
            input#editPwd(type="radio")
            | Edit password
            span.ms-4.mt-4.fa.fa-window-close#closePwd(style="display:none;")

          .form-group.pwdGroup(style="display:none;")
            label(for='password') Password:
            input#password(type='password', name='password')

          .form-group.pwdGroup(style="display:none;")
            label(for='confirm-password') Confirm Password:
            input#confirm-password(type='password', name='confirm-password')

          button(type='submit') Save Changes

      .secondary
        a.action.back(href='/user/profile')
          span Go back

script(src="../../script/user/editInfo.js")
script(src="../../script/user/crop.js")
script.
  $(document).ready(function() {
    var currentUrl = window.location.pathname;
    $('.account-menu a').each(function() {
      if ($(this).attr('href') === currentUrl) {
        $(this).addClass('active');
      }
    });

    $('#editPwd').change(function() {
      if ($(this).is(':checked')) {
        $('.pwdGroup').show();
        $('#closePwd').show();
      }
    });

    $('#closePwd').click(function() {
      $('#editPwd').prop('checked', false);
      $('.pwdGroup').hide();
      $(this).hide();
    });
  });
