include ../partials/navbar
link(rel="stylesheet", href="../stylesheet/home.css")
main
  section#home.hero
    .hero-content
      h1 Welcome to bookClub
      p Discover your next great read from our vast collection of books.
      a.cta-button(href='/products') Shop Now
  section#products.featured-products
    .container
      h2 Featured Products
      .product-grid
        if products.length > 0
          each product, index in products.slice(0, 4)
            .product-card
              .product-image
              .product-info
                h3 Eco-Friendly Water Bottle
                p $24.99
                a.cta-button(href='#') Add to Cart
        else
          p.text-center(style='color:gold;') No Featured products
footer
  .container
    p &copy; 2024 bookClub. All rights reserved.
