block link
.one
  .container#sidebarContainer
    //#sidebarAccordion.sidebar(style="background-color: #000; color: #fff;")
    #sidebarAccordion.sidebar(style="background-color:#3CB371 ; color: #fff;")
      .card#productCard
        .card-header#categoriesHeading
          h2.mb-0
            button.btn.btn-link(type="button", data-toggle="collapse", data-target="#categoriesCollapse", aria-expanded="true", aria-controls="categoriesCollapse")
              | CATEGORIES

        #categoriesCollapse.collapse.show(aria-labelledby="categoriesHeading", data-parent="#sidebarAccordion")
          .card-body
            ul.list-unstyled
              li All Products
              li SFX Power Supplies (PSUs)
              li ATX Power Supplies (PSUs)

      .card#productCard
        .card-header#modularHeading
          h2.mb-0
            button.btn.btn-link(type="button", data-toggle="collapse", data-target="#modularCollapse", aria-expanded="false", aria-controls="modularCollapse")
              | MODULAR

        #modularCollapse.collapse(aria-labelledby="modularHeading", data-parent="#sidebarAccordion")
          .card-body
            ul.list-unstyled
              li Fully (37)
              li No (16)
              li Semi (10)
              li Fully Modular (4)
              li Yes ②

      .card#productCard
        .card-header#efficiencyHeading
          h2.mb-0
            button.btn.btn-link(type="button", data-toggle="collapse", data-target="#efficiencyCollapse", aria-expanded="false", aria-controls="efficiencyCollapse")
              | 80 PLUS EFFICIENCY

        #efficiencyCollapse.collapse(aria-labelledby="efficiencyHeading", data-parent="#sidebarAccordion")
          .card-body
            ul.list-unstyled
              li Gold (40)
              li Bronze (18)
              li Platinum (13)
              li White ③

      .card#productCard
        .card-header#powerHeading
          h2.mb-0
            button.btn.btn-link(type="button", data-toggle="collapse", data-target="#powerCollapse", aria-expanded="false", aria-controls="powerCollapse")
              | CONTINUOUS POWER W

        #powerCollapse.collapse(aria-labelledby="powerHeading", data-parent="#sidebarAccordion")
          .card-body
            ul.list-unstyled
              li 750 Watts (16)
              li 850 Watts (15)
              li 650 Watts (12)
              li 1000 Watts (10)
              li 550 Watts (7)
