include ../partials/navbar
title My Wallet
link(rel='stylesheet' href='../stylesheet/wallet.css')
link(rel='stylesheet' href='../stylesheet/user/profile.css')
.my-account
  .col-sm-3.my-account-menu
    ul
      li
        a(href='/user/profile') My Account
      li
        a(href='/user/profile') My Wishlist
      li
        a(href='/user/profile/edit') Account Information
      li
        a(href='/user/address/new') Address Book
      li
        a(href='/user/order') My Orders
      li
        a(href='/user/wallet') My Wallet 
 
  header
    h1.page-title My Wallet
    br
  main.container
    section.balance-section
      .balance-card
        .bala
          h2.balance-title Available Balance
          span.balance-amount $500.00
        button.add-funds-btn Add Funds
    section.transaction-history
      h2 Transaction History
      .table-container
        table.transaction-table
          thead
            tr
              th Date
              th Description
              th Amount
              th Status
          tbody
            // Example Transaction Data - Replace with actual data from your database
            tr
              td 2023-10-27
              td Order #12345
              td -$159.94
              td Completed
            tr
              td 2023-10-25
              td Added Funds
              td +$200.00
              td Completed
            // Add more transaction items here
