//doctype html
//html(lang='en')
//  head
//    meta(charset='UTF-8')
//    meta(name='viewport', content='width=device-width, initial-scale=1.0')
//    title Wishlist - Quasar
//    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
//    link(rel='stylesheet', href='style.css')
//  body
//    header
include ../partials/navbar
link(rel="stylesheet", href="../stylesheet/user/wishlist.css")
link(rel="stylesheet", href="../stylesheet/user/profile.css")
link(rel="stylesheet", href="../stylesheet/user/cartG.css")
.container
  h1.page-title Wishlist
  .account-layout
    .account-menu
      ul
        li: a(href='/user/profile') My Account
        li: a(href='/user/wishlist') My Wishlist
        li: a(href='/user/address/new', class='active') Address Book
        li: a(href='/user/order') My Orders
        li: a(href='/user/wallet') My Wallet

    .main-content
      .wishlist-content
        table.wishlist-table
          thead
            tr
              th Product
              th Price
              th Actions
          tbody
            // This will be populated by JavaScript
      .empty-wishlist-message
      input#userInput(type="hidden", name="user" value=`${user.id}`)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='../script/user/wishlist.js')
    script.
      document.addEventListener('DOMContentLoaded', function() {
        const currentUrl = window.location.pathname;
        document.querySelectorAll('.account-menu a').forEach(link => {
          if (link.getAttribute('href') === currentUrl) {
            link.classList.add('active');
          }
        });

