//doctype html
//html(lang='en')
//  head
//    meta(charset='UTF-8')
//    meta(name='viewport', content='width=device-width, initial-scale=1.0')
//    title Wishlist - Quasar
//    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
//    link(rel='stylesheet', href='style.css')
//  body
//    header
include ../partials/navbar
link(rel="stylesheet", href="../stylesheet/user/wishlist.css")
link(rel="stylesheet", href="../stylesheet/user/cartG.css")
.container-fluid.wishlist-container
  h1 Your Wishlist
  .wishlist-content
    table.wishlist-table
      thead
        tr
          th Product
          th Price
          th Actions
      tbody
        // This will be populated by JavaScript
  .empty-wishlist-message
  input#userInput(type="hidden", name="user" value=`${user.id}`)
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script(src='../script/user/wishlist.js')

